{% block body %}
	<div class="dcf-wrapper dcf-bleed dcf-pb-7 unl-bg-cream">
		<h3>Lockups Library</h3>
		<div class="dcf-mb-4">
			<form class="dcf-form">
				<label for="search-term">Search Lockups</label>
				<div class="dcf-input-group">
					<input id="searchTermField" value="" type="text" name="search_term" id="search-term">
					<button type="submit" class="dcf-btn dcf-btn-primary">Search</button>
					{% if search != "" %}
						<a href="/lockups/library" id="clear-search" class="dcf-btn dcf-btn-secondary" type="button">×</a>
					{% endif %}
				</div>
			</form>
		</div>


		<div class="dcf-grid dcf-grid-full dcf-grid-halves@md dcf-grid-thirds@lg dcf-mb-6 dcf-row-gap-1 dcf-col-gap-vw">

		<div>
		<fieldset>
		<legend class="dcf-legend">Filter by Organization</legend>
		<form id="orgForm" method="POST">
		<label class="dcf-txt-sm" for="approver">Select organization name</label>
		
		<select def id="organization" name="approver"
			class="dcf-input-select dcf-b-1 dcf-b-solid dcf-rounded">
            <option value="0">Select approving organization</option>
		{% for key, value in allLockups%}
			<option value="{{ key }}">{{ key }}</option>
		
		{% endfor %}
		</select>
		</form>
		</fieldset>
		</div>

		{% if auth.isAdmin %}

		<div>
		<fieldset>
		<legend class="dcf-legend">Filter by user</legend>
		
					<form class="dcf-form">
				<label for="search-term">Enter username</label>
				<div class="dcf-input-group">
					<input id="searchTermField" value="" type="text" name="search_term" id="search-term">
					<button type="submit" class="dcf-btn dcf-btn-primary">Search</button>
					{% if search != "" %}
						<a href="/lockups/library" id="clear-search" class="dcf-btn dcf-btn-secondary" type="button">×</a>
					{% endif %}
				</div>
			</form>
		</fieldset>
		</div>

		<div>
		<fieldset>
		<legend class="dcf-legend">More filters</legend>
		<label class="dcf-txt-sm" for="approver">Select organization name</label>
		<select def id="approver" name="approver"
			class="dcf-input-select dcf-b-1 dcf-b-solid dcf-rounded">
		{% for key, value in allLockups %}
			<option value="0">{{ key }}</option>
		
		{% endfor %}
		</select>
		</fieldset>
		</div>

		{% endif %}

		</div>

		{% for key, value in lockups_array%}
		{% if auth.isAdmin %}
		<h4>All lockups for {{ key }}</h4>
		{# {{ dump(value.getApprover.getOrganization | default("null")) }} #}
		<table class="dcf-table dcf-table-bordered dcf-table-responsive dcf-table-striped dcf-w-100% dcf-mb-6">
			<thead>
				<tr>
					<th style="width: 30%;" scope="col">Title</th>
					<th style="width: 25%;" scope="col">Approved</th>
					<th style="width: 15%;" scope="col">Public</th>
					<th style="width: 30%;" scope="col">Preview</th>
				</tr>
			</thead>
			<tbody>
				{% for item in value %}
					<tr>
						<td data-label="Title">
							{{item.getDepartment}}
							{{item.getInstitution}}
						</td>
						<td data-label="Approved">
							{{(item.getCommunicatorStatus == 0) ? "<p>Communicator: <strong>Awaiting Approval</strong><br></p>" | raw}}
							{{(item.getCommunicatorStatus == 1) ? "<p>Communicator: <strong>Approved</strong><br></p>" | raw}}
							{{(item.getCommunicatorStatus == 2) ? "<p>Communicator: <strong>Rejected</strong><br></p>" | raw}}

							{{(item.getCreativeStatus == 0) ? "<p>University Communications: <strong>Awaiting Approval</strong></p>" | raw}}
							{{(item.getCreativeStatus == 1) ? "<p>University Communications: <strong>Approved</strong></p>" | raw}}
							{{(item.getCreativeStatus == 2) ? "<p>University Communications: <strong>Rejected</strong></p>" | raw}}
						</td>
						<td data-label="Public">
							{{ (item.getPublic == 1) ? "Published" : "Not published" }}
						</td>
						<td data-label="Preview">
							<a href="/lockups/download/{{item.getId}}">
								<div class="table-preview">{{ (item.getTemplate.getStyle == 'h') ? item.getPreviewH | raw : item.getPreviewV | raw }}</div>
							</a>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
		{% else %}
		<h4>Lockups approved for {{ key }}</h4>
		
		<table class="dcf-table dcf-table-bordered dcf-table-responsive dcf-table-striped dcf-w-100% dcf-mb-6">
			<thead>
				<tr>
					<th style="width: 60%;" scope="col">Title</th>
					<th style="width: 40%;" scope="col">Preview</th>
				</tr>
			</thead>
			<tbody>
				{% for item in value%}
					<tr>
						<td data-label="Title">
							{{item.getDepartment}}
							{{item.getInstitution}}
						</td>
						<td data-label="Preview">
							<a href="/lockups/download/{{item.getId}}">
								<div class="table-preview">{{ (item.getTemplate.getStyle == 'h') ? item.getPreviewH | raw : item.getPreviewV | raw }}</div>
							</a>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
		{% endif %}
		{% endfor %}
		



		{# Pagination Script #}

		{% if totalPage > 1 %}
			{% set currentPath = (search != "") ? path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) ~ "?search_term=" ~ search ~ "&page=" : path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) ~ "?page="%}
			<nav class="dcf-pagination dcf-d-flex dcf-jc-center dcf-mt-6">
				<ol class="dcf-list-bare dcf-list-inline">
					{% if currentPage != 1%}
						<li>
							<a class="dcf-pagination-first" href="{{ currentPath }}1">First</a>
						</li>
						<li>
							<a class="dcf-pagination-prev" href="{{ currentPath }}{{ currentPage - 1}}">Prev</a>
						</li>
					{% endif %}

					{% if currentPage == 1 %}
						<li>
							<span class="dcf-pagination-selected">1</span>
						</li>
						{% for i in (currentPage + 1) .. totalPage %}
							{% if (i - currentPage) <= 2%}
								<li>
									<a href="{{ currentPath }}{{ i }}">{{ i }}</a>
								</li>
							{% endif %}
						{% endfor %}
						{% if totalPage > 3 %}
							<li>
								<span class="dcf-pagination-ellipsis">…</span>
							</li>
						{% endif %}
					{% elseif currentPage == totalPage %}
						{% if totalPage > 3 %}
							<li>
								<span class="dcf-pagination-ellipsis">…</span>
							</li>
						{% endif %}
						{% if totalPage == 2 %}
							{% for i in 1 .. (totalPage - 1) %}
								{% if i >= (totalPage - 2) %}
									<li>
										<a href="{{ currentPath }}{{ i }}">{{ i }}</a>
									</li>
								{% endif %}
							{% endfor %}
						{% else %}
							{% for i in (totalPage - 2) .. (totalPage - 1) %}
								{% if i >= (totalPage - 2) %}
									<li>
										<a href="{{ currentPath }}{{ i }}">{{ i }}</a>
									</li>
								{% endif %}
							{% endfor %}
						{% endif %}
						<li>
							<span class="dcf-pagination-selected">{{ currentPage }}</span>
						</li>
					{% else %}
						{% if (currentPage - 1) > 1 %}
							<li>
								<span class="dcf-pagination-ellipsis">…</span>
							</li>
						{% endif %}
						<li>
							<a href="{{ currentPath }}{{ currentPage - 1 }}">{{ currentPage - 1 }}</a>
						</li>
						<li>
							<span class="dcf-pagination-selected">{{ currentPage }}</span>
						</li>
						<li>
							<a href="{{ currentPath }}{{ currentPage + 1 }}">{{ currentPage + 1 }}</a>
						</li>
						{% if (currentPage + 1) < totalPage %}
							<li>
								<span class="dcf-pagination-ellipsis">…</span>
							</li>
						{% endif %}
					{% endif %}

					{% if currentPage != totalPage %}
						<li>
							<a class="dcf-pagination-next" href="{{ currentPath }}{{ currentPage + 1}}">Next</a>
						</li>
						<li>
							<a class="dcf-pagination-last" href="{{ currentPath }}{{ totalPage }}">Last</a>
						</li>
					{% endif %}
				</ol>
			</nav>
		{% endif %}
		{# End Pagination Script #}
	</div>


	<script>
		// search script
let searchTerm = "{{ search }}";
let searchTermField = document.getElementById("searchTermField");
if (searchTerm != "") {
searchTermField.value = searchTerm;
}
	</script>

	<script>
	// filter by organization script
	const org_list = document.getElementById("organization");
	const orgForm = document.getElementById("orgForm");
    org_list.addEventListener("change", sendOrganizationInput);
	let approverOrg = "{{ approver | default("")}}";

	function sendOrganizationInput() {
		if (org_list.value != "0") {
		orgForm.submit();
		}
	}
	if (approverOrg != null) {
		org_list.value = approverOrg;
	}
	</script>

	<script>
		// pagination javascript
		window.addEventListener('inlineJSReady', function () {
		WDN.initializePlugin('pagination');
		}, false);
	</script>
{% endblock %}
