{% block body %}
<div class="dcf-wrapper dcf-bleed dcf-pb-7 unl-bg-cream">
    {% if (user.isApprover == false and user.isCreative == false) %}
    <h3>Edit lockup</h3>
    <div class="dcf-notice {{(Lockup.getCreativeStatus == 1 and Lockup.getCommunicatorStatus ==1) ? "
        dcf-notice-success" : "dcf-notice-info" }} dcf-d-grid dcf-ml-auto dcf-mr-auto dcf-mb-6 dcf-rounded
        dcf-notice-initialized dcf-w-max-lg" id="dcf-notice-e59c27f8-8e98-4241-8bf0-88a7f92c9dcd" role="alertdialog"
        aria-labelledby="dcf-notice-e59c27f8-8e98-4241-8bf0-88a7f92c9dcd-heading">
        <div class="dcf-notice-icon"><svg class="dcf-h-100% dcf-w-100%" aria-hidden="true" focusable="false" height="24"
                width="24" viewBox="0 0 24 24">
                <path fill="#fefdfa"
                    d="M12 0C5.4 0 0 5.4 0 12s5.4 12 12 12 12-5.4 12-12S18.6 0 12 0zm-.5 4.8c.7 0 1.2.6 1.2 1.2s-.6 1.2-1.2 1.2-1.3-.5-1.3-1.2.6-1.2 1.3-1.2zM15 19.2H9c-.4 0-.8-.3-.8-.8s.3-.8.8-.8h2.2v-7.5H10c-.4 0-.8-.3-.8-.8s.4-.5.8-.5h2c.2 0 .4.1.5.2.1.1.2.3.2.5v8.2H15c.4 0 .8.3.8.8s-.4.7-.8.7z">
                </path>
            </svg></div>
        <div class="dcf-notice-body">
            <h4 class="dcf-notice-heading dcf-txt-h6 dcf-mb-0 text-white"
                id="dcf-notice-e59c27f8-8e98-4241-8bf0-88a7f92c9dcd-heading">{{(Lockup.getCreativeStatus == 1 and
                Lockup.getCommunicatorStatus ==1) ? "Approved" : "Info"}}</h4>
            <div class="dcf-notice-message dcf-txt-xs">Your lockup {{(Lockup.getCreativeStatus == 1 and
                Lockup.getCommunicatorStatus ==1) ? "has been approved" : "is being reviewed"}} by your Communicator
                Contact and
                University Communications.
            </div>
        </div>
        <div class="dcf-notice-close"><button class="dcf-btn dcf-btn-inverse-tertiary dcf-lh-1"><span
                    class="dcf-sr-only">Close this notice</span><svg class="dcf-fill-current" aria-hidden="true"
                    focusable="false" height="16" width="16" viewBox="0 0 24 24">
                    <path
                        d="M23.707 22.293L13.414 12 23.706 1.707A.999.999 0 1022.292.293L12 10.586 1.706.292A1 1 0 00.292 1.706L10.586 12 .292 22.294a1 1 0 101.414 1.414L12 13.414l10.293 10.292a.999.999 0 101.414-1.413z">
                    </path>
                    <path fill="none" d="M0 0h24v24H0z"></path>
                </svg></button></div>
    </div>
    {% else %}
    <h3>Lockup Details</h3>
    {% endif %}
    <div class="dcf-grid dcf-grid-full dcf-grid-halves@md">
        <div>
            <h4>
                Preview Lockup
            </h4>
            {% if Lockup.getPreviewH != null%}
            <div class="horiz">
                <div style="display: inline-block">
                    <div class="lockups-preview dcf-p-7">
                        {{ Lockup.getPreviewH | raw }}
                    </div>
                    <p class="dcf-txt-center">
                        <i>
                            Horizontal
                        </i>
                    </p>
                </div>

            </div>
            {% endif %}
            {% if Lockup.getPreviewV != null%}
            <div class="vert">
                <div style="display: inline-block">
                    <div class="lockups-preview dcf-p-7">
                        {{ Lockup.getPreviewV | raw }}
                    </div>
                    <p class="dcf-txt-center">
                        <i>
                            Vertical
                        </i>
                    </p>
                </div>
            </div>

            {% endif %}
        </div>
        <div>
            <h4>
                Actions
            </h4>
            <div class="dcf-mb-5">
                {% if (user.isApprover == false and user.isCreative == false) %}
                <a href="/lockups/edit/{{Lockup.getId}}" class="dcf-btn dcf-btn-secondary">Edit Lockup</a>
                {% if Lockup.getCreativeStatus == 1 and Lockup.getCommunicatorStatus == 1 %}
                <a href="/lockups/download/{{Lockup.getId}}" class="dcf-btn dcf-btn-primary">Download Lockup</a>
                {% endif %}
                {% else %}
                <form action="/lockups/actions/" method="POST" style="display: inline;">
                    <button type="submit" class="dcf-btn dcf-btn-primary">Approve This Lockup</button>
                    <input type="hidden" name="id" value="{{Lockup.getId}}">
                    <input type="hidden" name="action" value="approve">
                    <input class="creative-feedback-class" type="hidden" name="creative_feedback" value="">
                    <input class="communicator-feedback-class" type="hidden" name="communicator_feedback" value="">
                </form>
                                <form action="/lockups/actions/" method="POST" style="display: inline;">
                    <button type="submit" class="dcf-btn dcf-btn-secondary">Leave Feedback Only</button>
                    <input type="hidden" name="id" value="{{Lockup.getId}}">
                    <input type="hidden" name="action" value="feedback">
                    <input class="creative-feedback-class" type="hidden" name="creative_feedback" value="">
                    <input class="communicator-feedback-class" type="hidden" name="communicator_feedback" value="">
                </form>
                                <form action="/lockups/actions/" method="POST" style="display: inline;">
                    <button type="submit" class="dcf-btn dcf-btn-secondary">Deny This Lockup</button>
                    <input type="hidden" name="id" value="{{Lockup.getId}}">
                    <input type="hidden" name="action" value="deny">
                    <input class="creative-feedback-class" type="hidden" name="creative_feedback" value="">
                    <input class="communicator-feedback-class" type="hidden" name="communicator_feedback" value="">
                </form>
                {# <a href="/lockups/download/{{Lockup.getId}}" class="dcf-btn dcf-btn-secondary dcf-mt-3">Download Lockup</a> #}
                {% endif %}
            </div>
            <h4>
                Details
            </h4>
            {% if ((Lockup.getCommunicatorStatus == 0) and (Lockup.getCommunicatorFeedback != null)) %}
            <div style="border-radius: 8px;" class="unl-bg-blue dcf-p-2 unl-lightest-gray dcf-mb-4">
                <strong>Communicator</strong>: Feedback received<br>

            </div>
            {% elseif (Lockup.getCommunicatorStatus == 1)%}
            <div style="border-radius: 8px;" class="unl-bg-green dcf-p-2 unl-lightest-gray dcf-mb-4">
                <strong>Communicator</strong>: Approved
            </div>
            {% else %}
            <div style="border-radius: 8px;" class="unl-bg-blue dcf-p-2 unl-lightest-gray dcf-mb-4">
                <strong>Communicator</strong>: Awaiting Approval<br>
            </div>
            {% endif %}
            <div>
                {% if Lockup.getCommunicatorFeedback != null %}

                {% if (user.isApprover == true)%}
                <textarea class="dcf-b-solid dcf-b-1 dcf-rounded dcf-p-2" rows="5" id="communicator-feedback"
                    name="communicator-feedback"
                    placeholder="Write your feedback.">{{Lockup.getCommunicatorFeedback}}</textarea>
                {% else %}
                <textarea class="dcf-b-solid dcf-b-1 dcf-rounded dcf-p-2"
                    style="background-color: #F0F0EF; color: #424240;border-color: #c7c8ca;" disabled="" rows="5"
                    id="communicator-feedback" name="communicator-feedback">{{Lockup.getCommunicatorFeedback}}</textarea>

                {% endif %}

                {% else %}

                {% if (user.isApprover == true)%}
                <textarea class="dcf-b-solid dcf-b-1 dcf-rounded dcf-p-2" rows="5" id="communicator-feedback"
                    name="communicator-feedback" placeholder="Write your feedback."></textarea>
                {% else %}
                <textarea class="dcf-b-solid dcf-b-1 dcf-rounded dcf-p-2"
                    style="background-color: #F0F0EF; color: #424240;border-color: #c7c8ca; font-style: italic;"
                    disabled="" rows="5" id="communicator-feedback"
                    name="communicator-feedback">Feedback from communicator will be posted here.</textarea>
                {% endif %}

                {% endif %}
            </div>
            <br>
            {% if ((Lockup.getCreativeStatus == 0) and (Lockup.getCreativeFeedback != null)) %}
            <div style="border-radius: 8px;" class="unl-bg-blue dcf-p-2 unl-lightest-gray dcf-mb-4">
                <strong>Creative</strong>: Feedback received<br>

            </div>
            {% elseif (Lockup.getCreativeStatus == 1)%}
            <div style="border-radius: 8px;" class="unl-bg-green dcf-p-2 unl-lightest-gray dcf-mb-4">
                <strong>Creative</strong>: Approved
            </div>
            {% else %}
            <div style="border-radius: 8px;" class="unl-bg-blue dcf-p-2 unl-lightest-gray dcf-mb-4">
                <strong>Creative</strong>: Awaiting Approval<br>
            </div>
            {% endif %}
            <div>
                {% if Lockup.getCreativeFeedback != null %}
                                {% if (user.isCreative == true)%}
                <textarea class="dcf-b-solid dcf-b-1 dcf-rounded dcf-p-2" rows="5" id="creative-feedback"
                    name="creative-feedback"
                    placeholder="Write your feedback.">{{Lockup.getCreativeFeedback}}</textarea>
                {% else %}
                                <textarea class="dcf-b-solid dcf-b-1 dcf-rounded dcf-p-2"
                    style="background-color: #F0F0EF; color: #424240;border-color: #c7c8ca;" disabled="" rows="5"
                    id="creative-feedback" name="creative-feedback">{{Lockup.getCreativeFeedback}}</textarea>

                {% endif %}

                {% else %}

                                {% if (user.isCreative == true)%}
                <textarea class="dcf-b-solid dcf-b-1 dcf-rounded dcf-p-2" rows="5" id="creative-feedback"
                    name="creative-feedback" placeholder="Write your feedback."></textarea>
                {% else %}
                <textarea class="dcf-b-solid dcf-b-1 dcf-rounded dcf-p-2"
                    style="background-color: #F0F0EF; color: #424240;border-color: #c7c8ca; font-style: italic;"
                    disabled="" rows="5" id="creative-feedback"
                    name="creative-feedback">Feedback from creative will be posted here.</textarea>
                {% endif %}
                {% endif %}
            </div>
            <div>
    {% if (user.isApprover == true or user.isCreative == true) %}
                   <form action="/lockups/actions/" method="POST" style="display: inline;">
                    <button type="submit" class="dcf-btn dcf-btn-secondary dcf-mt-2">Update Feedback</button>
                    <input type="hidden" name="id" value="{{Lockup.getId}}">
                    <input type="hidden" name="action" value="update">
                    <input class="creative-feedback-class" type="hidden" name="creative_feedback" value="">
                    <input class="communicator-feedback-class" type="hidden" name="communicator_feedback" value="">
                </form>
            {% endif %}
            </div>
        </div>

    </div>
</div>
{% endblock %}

<script>
let communicator_feedback = document.getElementById("communicator-feedback");
let creative_feedback = document.getElementById("creative-feedback");
let communicator_feedback_class = document.getElementsByClassName("communicator-feedback-class");
let creative_feedback_class = document.getElementsByClassName("creative-feedback-class");

communicator_feedback.addEventListener("input", updateFeedbacks);
creative_feedback.addEventListener("input", updateFeedbacks);

updateFeedbacks()

function updateFeedbacks() {
    for (let i = 0; i < communicator_feedback_class.length; i ++) {
        communicator_feedback_class[i].value = communicator_feedback.value;
    }
    for (let i = 0; i < creative_feedback_class.length; i ++) {
        creative_feedback_class[i].value = creative_feedback.value;
    }
}

</script>