{% block body %}
{% if alert_message is defined %}

<div class="dcf-notice {{ alert_type|default('dcf-notice-success') }}" hidden>
  <h2>{{ alert_title }}</h2>
  <div>{{ alert_message }}</div>
</div>
{% endif %}
    {% if (user.isApprover == false and user.isCreative == false) %}
    <h3>Edit lockup</h3>

{% if alert_message is not defined %}

    <div class="dcf-notice {{(Lockup.getCreativeStatus == 1 and Lockup.getCommunicatorStatus ==1) ? "
        dcf-notice-success" : "dcf-notice-info" }}" hidden>
  <h2>{{(Lockup.getCreativeStatus == 1 and Lockup.getCommunicatorStatus ==1) ? "Approved" : "Info"}}</h2>
  <div>Your lockup {{(Lockup.getCreativeStatus == 1 and
                Lockup.getCommunicatorStatus ==1) ? "has been approved" : "is being reviewed"}} by your Communicator
                Contact and
                University Communications.</div>
</div>
{% endif %}
    {% else %}
    <h3>Lockup Details</h3>
    {% endif %}
    <div class="dcf-grid dcf-grid-full dcf-grid-halves@md">
        <div>
            <h4>
                Preview Lockup
            </h4>
            {% if Lockup.getPreviewH != null%}
            <div class="horiz">
                    <div class="lockups-preview dcf-p-3">
                        {{ Lockup.getPreviewH | raw }}
                    </div>
                    <p class="dcf-txt-center">
                        <i>
                            Horizontal
                        </i>
                    </p>
            </div>
            {% endif %}
            {% if Lockup.getPreviewV != null%}
            <div class="vert">
                <div style="display: inline-block">
                    <div class="lockups-preview dcf-p-7">
                        {{ Lockup.getPreviewV | raw }}
                    </div>
                    <p class="dcf-txt-center">
                        <i>
                            Vertical
                        </i>
                    </p>
                </div>
            </div>

            {% endif %}
        </div>
        <div>
            <div class="dcf-p-6 dcf-mb-6 unl-bg-lightest-gray dcf-rounded">
                <h4>User Actions</h4>
                    {% if (user.isApprover == false and user.isCreative == false) %}
                    <a href="/lockups/edit/{{Lockup.getId}}" class="dcf-btn dcf-btn-secondary">Edit Lockup</a>
                    {% if Lockup.getCreativeStatus == 1 and Lockup.getCommunicatorStatus == 1 %}
                    <a href="/lockups/download/{{Lockup.getId}}" class="dcf-btn dcf-btn-primary">Download Lockup</a>
                    {% endif %}
                    {% else %}
                    <form  method="POST" style="display: inline;">
                        <button type="submit" class="dcf-btn dcf-btn-primary">Approve This Lockup</button>
                        <input type="hidden" name="id" value="{{Lockup.getId}}">
                        <input type="hidden" name="action" value="approve">
                        <input class="creative-feedback-class" type="hidden" name="creative_feedback" value="">
                        <input class="communicator-feedback-class" type="hidden" name="communicator_feedback" value="">
                    </form>
                                    <form  method="POST" style="display: inline;">
                        <button type="submit" class="dcf-btn dcf-btn-secondary">Leave Feedback Only</button>
                        <input type="hidden" name="id" value="{{Lockup.getId}}">
                        <input type="hidden" name="action" value="feedback">
                        <input class="creative-feedback-class" type="hidden" name="creative_feedback" value="">
                        <input class="communicator-feedback-class" type="hidden" name="communicator_feedback" value="">
                    </form>
                                    <form  method="POST" style="display: inline;">
                        <button type="submit" class="dcf-btn dcf-btn-secondary">Deny This Lockup</button>
                        <input type="hidden" name="id" value="{{Lockup.getId}}">
                        <input type="hidden" name="action" value="deny">
                        <input class="creative-feedback-class" type="hidden" name="creative_feedback" value="">
                        <input class="communicator-feedback-class" type="hidden" name="communicator_feedback" value="">
                    </form>
                    {# <a href="/lockups/download/{{Lockup.getId}}" class="dcf-btn dcf-btn-secondary dcf-mt-3">Download Lockup</a> #}
                    {% endif %}
            </div>

            <h4>Details</h4>
            <div class="dcf-p-6 dcf-mb-6 unl-bg-lightest-gray dcf-rounded">
                <h5>Communicator</h5>
                {% if ((Lockup.getCommunicatorStatus == 0) and (Lockup.getCommunicatorFeedback != null)) %}
                    <div class="dcf-mb-4 dcf-rounded">
                        {{ Lockup.getApprover.getName | default('Communicator not specified') }} (Communicator)<strong>: Feedback received</strong>
                    </div>
                {% elseif (Lockup.getCommunicatorStatus == 1)%}
                    <div class="dcf-mb-4 dcf-rounded">
                        {{ Lockup.getApprover.getName | default('Communicator not specified') }} (Communicator)<strong>: Approved</strong>
                    </div>
                {% else %}
                    <div class="dcf-mb-4 dcf-rounded">
                        {{ Lockup.getApprover.getName | default('Communicator not specified') }} (Communicator)<strong>: Awaiting Approval</strong>
                    </div>
                {% endif %}

            {# feedback block start #}
                {% if Lockup.getFeedbacks != null %}
                    <div style="width: 100%; max-height: 200px; border: 1px solid #F4F3F2; border-radius: 10px; overflow-y: auto;" class="dcf-p-4 dcf-mb-4 unl-bg-cream" id="ofcomm">
                    {% for item in Lockup.getFeedbacks %}
                        {% if item.type == "approver" %}
                            <div class="dcf-w-100% unl-bg-lighter-gray dcf-p-3 dcf-mb-4" style="border-radius: 10px; position:relative;">
                            <p style="color: var(--darker-gray)">{{ item.value }}</p>
                            <p style="color: var(--darker-gray); position: absolute; bottom: 0px;" class="dcf-subhead dcf-txt-3xs">{{ item.time }}</p>
                            </div>
                        {% endif %}
                    {% endfor %}   
                    </div>
                {% endif %}
                {% if (user.isApprover == true)%}
                    <form  method="POST" style="display: inline;">
                        <input type="hidden" name="id" value="{{Lockup.getId}}">
                                <textarea class="dcf-b-solid dcf-b-1 dcf-rounded dcf-p-2" rows="5" id="communicator-feedback" name="communicator-feedback" placeholder="Add feedback."></textarea>
                        <input type="hidden" name="action" value="update">
                        <button type="submit" class="dcf-btn dcf-btn-secondary dcf-mt-2">Add Feedback</button>
                </form>
                {% endif %}
            </div>
            {# ucomm block #}
            <div class="dcf-p-6 dcf-mb-6 unl-bg-lightest-gray dcf-rounded">
                <h5>Communicator</h5>
            
             
            {% if ((Lockup.getCreativeStatus == 0) and (Lockup.getCreativeFeedback != null)) %}
            <div class="unl-bg-blue dcf-p-2 unl-lightest-gray dcf-mb-4">
                <strong>University Communications</strong>: Feedback received<br>

            </div>
            {% elseif (Lockup.getCreativeStatus == 1)%}
            <div class="unl-bg-green dcf-p-2 unl-lightest-gray dcf-mb-4">
                <strong>University Communications</strong>: Approved
            </div>
            {% else %}
            <div class="unl-bg-blue dcf-p-2 unl-lightest-gray dcf-mb-4">
                <strong>University Communications</strong>: Awaiting Approval<br>
            </div>
            {% endif %}
            <div>

            
          <div style="width: 100%; max-height: 200px; border: 1px solid #F4F3F2; border-radius: 10px; overflow-y: auto;" class="dcf-p-4 dcf-mb-4" id="ofcrea">
            {% if Lockup.getFeedbacks != null %}
            {% for item in Lockup.getFeedbacks %}
            {% if item.type == "creative" %}
                                <div class="dcf-w-100% unl-bg-lighter-gray dcf-p-3 dcf-mb-4" style="border-radius: 10px; position:relative;">
                    <p style="color: var(--darker-gray)">{{ item.value }}</p>
                    <p style="color: var(--darker-gray); position: absolute; bottom: 0px;" class="dcf-subhead dcf-txt-3xs">{{ item.time }}</p>
                </div>
            {% endif %}
            {% endfor %}
                {% endif %}
            </div>
            {% if (user.isCreative == true)%}
                                       <form method="POST" style="display: inline;">
                                                       <textarea class="dcf-b-solid dcf-b-1 dcf-rounded dcf-p-2" rows="5" id="creative-feedback"
                    name="creative-feedback" placeholder="Add feedback."></textarea>
                    <button type="submit" class="dcf-btn dcf-btn-secondary dcf-mt-2">Add Feedback</button>
                    <input type="hidden" name="id" value="{{Lockup.getId}}">
                    <input type="hidden" name="action" value="update">
                </form>
            {% endif %}
            </div>
            <div>
            </div>
        </div>

    </div>
</div>
<script>
var objDiv = document.getElementById("ofcomm");
var objDiv2 = document.getElementById("ofcrea");
objDiv.scrollTop = objDiv.scrollHeight;
objDiv2.scrollTop = objDiv2.scrollHeight;
</script>

<script>
  window.addEventListener('inlineJSReady', function() {
    WDN.initializePlugin('notice');
  }, false);
</script>
{% endblock %}

